/* index.css */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

/* Background gradient */
body {
  background: radial-gradient(circle at top left, #6e0a0a, #a40000, #8b0000, #5a0000);
  color: white;
  font-family: Arial, sans-serif;
}
